@import "./../../../assets/settings/breakpoints.scss";


 .toggleSidenav {
   background: transparent;
   border: none;
     @include breakpoint($narrow-devices) {
         display: none;
     }
 }

.toggleSidenav mat-icon {
  padding-top: 5px;
}

.navbar-fixed-top {
  border: 0 0 1px;
  position: fixed;
  z-index: 1030;
  width: 100%;
  //padding-right: 32px;
  @include breakpoint($narrow-devices) {
         padding-right: 32px;
     }
}
