@import "./../../../assets/settings/breakpoints.scss";


 .toggleSidenav {
   background: transparent;
   border: none;
     @include breakpoint($narrow-devices) {
         display: none;
     }
 }

.toggleSidenav mat-icon {
  padding-top: 5px;
}

.navbar-fixed-top {
  top: 0px;
  border: 0 0 1px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
