.pad{
    padding: 0 0 15px 15px !important;
}
// lil{
//     padding-bottom: 10px;
// }
.btn1{
    width: 100%;
    background: rgb(245, 244, 242);;
    border-radius: 50px;
    margin-top: 20px;
    height: 45px;
    color: grey;
}
// .head{

// }
.p{
    margin-left: 33px !important;
    margin-bottom: 0px;
}
.card-header{
    background: transparent
}
.navbtn{
    background: #00497C;;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50px;
}
