<section class="pricing py-5">
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0 card-custom">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Lite</h5>
            <h6 class="card-price text-center">$5<span class="period">/month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fa fa-check"></i></span>Hosted creator page</li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>5GB Storage</li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>Patron communication tools</li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>Patreon workshops</li>
              <br>
              <br>
              <br>
              <br>
            </ul>
            <a href="#" class="btn btn-block text-uppercase">Get Started</a>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0 card-custom">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
            <h6 class="card-price text-center">$8<span class="period">/month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fa fa-check"></i></span><strong>Everything in Lite, and...</strong></li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>Membership tiers</li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>Analytics and insights</li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>Special Offers promo tool</li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>Creator-led workshops</li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>Unlimited app integrations</li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>Priority customer support</li>
              <li class="text-muted"></li>
            </ul>
            <a href="#" class="btn btn-block text-uppercase">Get Started</a>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
      <div class="col-lg-4">
        <div class="card card-custom">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Premium</h5>
            <h6 class="card-price text-center">$12<span class="period">/month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fa fa-check"></i></span><strong>Everything in Pro, and</strong></li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>Dedicated Partner Manager</li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>Merch for Membership</li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>Team Accounts</li>
              <br>
              <br>
              <br>
              <br>
            </ul>
            <a href="#" class="btn btn-block text-uppercase">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
