<div class="row">
  <div class="col-lg-8 col-md-8 col-xs-12 pl-4  pr-4">
      <div class="row">
        <p><strong>Hi there! What name should appear on your public Awria page?</strong></p>
        </div><br>
        <div class="row">
          <input class="form-control" placeholder="Name of Awria Page">
          </div><br>
          
          <div class="row">
            
  <div class="col-lg-12">
      <button class="btnn" mat-button>OK</button>
            </div><br>

            </div>
  </div>
  <div class="col-lg-4 col-md-4 col-xs-12">
    <div class="card">
      <div class="card-body">
          <i class="fas fa-info-circle"></i>
          <p>What do your fans call you? You can always change this later.</p>
      </div>
    </div>
  </div>
</div>