.text{
    height: 50px;
    background: #F5F4F2;
    font-size:20px !important;
}
.select{
    height: 50px;
    background: #F5F4F2;
    font-size:20px !important;
    border:1px solid rgb(204, 203, 201);
    border-radius: 5px;
    width: 100% !important
}
.button1{
    background: #D8ECF9;
    width: 50%;
    border-radius: 50px;
    height: 50px;
    color: #044F83;
}
.button2{
    background: #044F83;
    width: 100%;
    border-radius: 50px;
    height: 50px;
    color: white;
}

