<div class="row py-2">
  <div class="col-lg-12">
    <p class="text-center welcome-text">
      <b>Welcome, Aabi!</b> This is your public profile and creator page.<a
        class="edit-your-page-btn"
        >Edit your page</a
      >
    </p>
    <div class="custom-cover-photo">
      <div class="custom-profile-photo">
        <ngx-avatar
          src="../../../assets/images/posts/icon-camera.png"
          name="Jane Doe"
          value="30%"
          bgColor="#000000"
          fgColor="#58D3F7"
          size="120"
          textSizeRatio="2.5"
          [round]="true"
          class="custom-avatar"
        ></ngx-avatar>
        <p>Aabi is creating Art</p>
        <p></p>
      </div>
    </div>
  </div>
</div>
<nav mat-tab-nav-bar class="navExpand">
  <a
    mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="['/' + link.path]"
    routerLinkActive
    #rla="routerLinkActive"
    [active]="rla.isActive"
  >
    {{ link.label }}
  </a>
</nav>

<router-outlet></router-outlet>
