<div class="card" style="margin-top: 20px">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <span><b>ANNOUNCEMENTS AND RESOURCES</b></span>
        </div>
      </div>
      <div class="row">
          <mat-list role="list">
              <mat-list-item role="listitem" style="margin-bottom:10px"> <mat-checkbox style="padding: 5px;margin-top:5px"> </mat-checkbox>Product updates and community announcements</mat-list-item>
              <mat-list-item role="listitem" style="margin-bottom:15px"> <mat-checkbox style="padding: 5px;margin-top:5px"> </mat-checkbox>Patron newsletter</mat-list-item>

            </mat-list>
      </div>
      <div class="row">
          <div class="col-lg-12 col-sm-12">
            <span><b>NOTIFICATIONS</b></span>
          </div>
        </div>
        <div class="row">
            <mat-list role="list">
                <mat-list-item role="listitem" style="margin-bottom:15px"> <mat-checkbox style="padding: 5px;margin-top:5px"> </mat-checkbox>When someone comments on your post</mat-list-item>
                <mat-list-item role="listitem" style="margin-bottom:15px"> <mat-checkbox style="padding: 5px;margin-top:5px"> </mat-checkbox>When a creator you pledge to makes a pledge to another creator</mat-list-item>
          <mat-list-item>   <button class="btnnn" mat-button>Update email settings</button></mat-list-item>
              </mat-list>
        </div>

    </div>
  </div>
