
<div center class="custompadding">
  <div class="row">

      <div class="col-lg-4" >

      </div>

      <div class="col-lg-4 col-sm-12 center">
        <p class="p_text">When you schedule a post it'll show up here.</p>

        <button class="extended-fab-button" mat-fab style="margin: 8px 0 24px 0;" >
            <p class="extended-fab-button__text">
              <span>Make a Post </span>
            </p>
        </button>

      </div>
    
    <div class="col-lg-4">

    </div>

  </div>

</div>