
<div class="title">
  <h3 class="h3_title">About</h3>
  <p class="p_title">Set your creator details and make a great first impression</p>
</div>

<div class="container">

      <div class="left70">
          <div class="border" style="margin-top: 0px;margin-right: 18px;">

            <div class="row70" style="margin-top: 16px;">
              <div class="col40" style=" margin: 20px 0 20px 0px; " >
                  <h2 class="h2_leftbar">Name of Patreon page </h2>
                  <span class="pad">Required</span>
              </div>
              <div class="col60">
                  <!-- <mat-form-field appearance="outline" class="input_mat">
                      <input matInput placeholder="Placeholder">
                    </mat-form-field> -->
                    <mat-form-field  appearance="none" class="input_mat">
                      <input matInput type="text" name="btn" class="chkbtn">
                    </mat-form-field>
              </div>
            </div>


            <div class="row70" style="margin: -20px 0 0 0px;">
              <div class="col40" style=" margin: 20px 0 20px 0px; " >
                  <h2 class="h2_leftbar">What are you creating? </h2>
                  <span class="pad">Required</span>
              </div>
              <div class="col60">
                  <!-- <mat-form-field appearance="outline" class="input_mat">
                      <input matInput placeholder="Placeholder">
                    </mat-form-field> -->
                    <mat-form-field  appearance="none" class="input_mat">
                      <input matInput type="text" name="btn" class="chkbtn">
                    </mat-form-field>
              </div>
            </div>

            <div class="row70" style="margin: -20px 0 0 0px;">
              <div class="col40" style=" margin: 20px 0 20px 0px; " >
                  <h2 class="h2_leftbar">Which sounds more correct? </h2>

              </div>
              <div class="col60">
                <mat-radio-group class="smallRadio">
                  <mat-radio-button value="1" class="radio1" >myinnerworld <strong>is creating</strong> drawing</mat-radio-button><br>
                  <mat-radio-button value="2">myinnerworld <strong>are creating</strong> drawing</mat-radio-button>
              </mat-radio-group>
              </div>
            </div>



          </div>

          <!-- 2nd border -->
          <div class="border" style="margin-top: 0px;margin-right: 18px;">

            <div class="row70" style="margin-top: 16px;">
              <div class="col40" style=" margin: 20px 0 20px 0px; " >
                  <h2 class="h2_leftbar">Profile Photo </h2>
                  <span class="pad">Required</span> <br>
                  <p class="pad" style="margin: 12px 20px 0 0;">We recommend a 256px by 256px image.</p>

              </div>
              <div class="col60">
                <div class="div_padding">
                      <ngx-avatar
                      src="../../../assets/images/posts/egg-person.jpg"
                      name="Jane Doe"
                      value="30%"
                      bgColor="#000000"
                      fgColor="#58D3F7"
                      size="120"
                      textSizeRatio="2.5"
                      [round]="true"
                      class="custom-avatar"
                    ></ngx-avatar>
                </div>
              </div>
            </div>



            <div class="row70" style="margin-top: 16px;">
                <div class="col40" style=" margin: 20px 0 20px 0px; " >
                    <h2 class="h2_leftbar">Cover photo </h2>
                    <span class="pad">Required</span> <br>
                    <p class="pad" style="margin: 12px 20px 0 0;">We recommend an image at least 1200px wide and 675px tall.</p>

                </div>
                <div class="col60">
                  <div class="div_padding" style="padding: 0px 40px 0px 0px;">
                      <img src="../../../assets/images/posts/its_easy_if_you_try-5332.jpg" alt="Paris" style="width:100%;height: 200px;">
                  </div>
                </div>
              </div>


              <div class="row70" style="margin: 10px 0 0 0px;">
                  <div class="col40" style=" margin: 20px 0 20px 0px; " >
                      <h2 class="h2_leftbar">Patreon page URL </h2>
                  </div>
                  <div class="col60" style="display: inline-flex;">

                      <span class="span_awria" style="margin: 34px 0 0 0;">awria.com/</span>
                      <mat-form-field  appearance="none" class="input_mat_half">
                        <input matInput type="text" name="btn" class="chkbtn" placeholder="creatoraccount">
                      </mat-form-field>
                  </div>
                </div>



                <div class="row70" style="margin: 10px 0 44px 0px;">
                    <div class="col40" style=" margin: 20px 0 20px 0px; " >
                        <h2 class="h2_leftbar">Patreon page URL </h2>
                    </div>
                    <div class="col60" style="display: inline-flex;">

                        <span class="span_awria" style="margin: 20px 0 0 0;">Gain more control over the
                          appearance of your page such as choosing whether to display your earnings and
                           patron count. <a href="#">Upgrade now</a> or <a href="#">learn more</a> .</span>

                    </div>
                </div>

          </div> <!-- 2nd border ends here -->




          <!-- 3rd border -->
          <div class="border" style="margin-top: 0px;margin-right: 18px;">

              <div class="row70" style="margin: 10px 0 0 0px;">
                  <div class="col40" style=" margin: 20px 0 20px 0px; " >
                      <h2 class="h2_leftbar">About your Patreon page </h2>
                      <span class="pad">Required</span>
                  </div>
                  <div class="col60" style=" margin: 20px 0 20px 0px; ">
                  </div>

                  <span class="pad" style="padding-right: 20px;"><p color="gray2" class="sc-bxivhb bSgOwj">This is the first thing potential patrons will see when they land on your page, so make sure you paint a compelling picture of how they can join you on this journey.</p></span>


                  <div class="editor_container">
                      <angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor>
                  </div>

                  <span class="pad" style="margin-right: 20px;"><p color="gray2" class="sc-bxivhb bSgOwj" >Many creators on Patreon have both a text and video description for their page. This combo is incredibly motivating for fans — it shows how real this is to you and how much you value their participation in your journey.</p></span>


              </div>

              <div class="row70" style="margin-top: 16px;">
                <div class="col40" style=" margin: 20px 0 20px 0px; " >
                    <h2 class="h2_leftbar">Intro Video</h2>
                    <p class="pad">Make the best intro video with <a href="#">our guide</a>.</p>
                </div>
                <div class="col60">
                      <mat-form-field  appearance="none" class="input_mat">
                        <input matInput type="text" name="btn" class="chkbtn" placeholder="Video URL">
                      </mat-form-field>
                </div>
              </div>


          </div> <!-- 3rd border ends here -->


           <!-- 4th border -->
          <div class="border" style="margin-top: 0px;margin-right: 18px;">

            <div class="row70" style="margin: 10px 0 0 0px;">
              <div class="col40" style=" margin: 20px 0 0px 0px; " >
                  <h2 class="h2_leftbar">Social Links </h2>
              </div>
              <div class="col60">
              </div>

              <span class="pad" style="padding-right: 20px;"><p color="gray2" class="sc-bxivhb bSgOwj">Give your patrons confidence - securely verify your accounts and display links on your page. We’ll never post on your behalf.</p></span>

              <div class="border_inside">
                  <p class="aaa"><i class="fab fa-facebook-square" aria-hidden="true" style="font-size:18px;color:#4267b2;margin-right: 12px; border-radius: 5px;"></i>Facebook</p>
                        <button class="extended-fab-button" mat-fab >
                          <p class="extended-fab-button__text">Connect</p>
                        </button>
              </div>
              <div class="border_inside">
                  <p class="aaa"><i class="fab fa-instagram" aria-hidden="true" style="font-size:18px;color:#303030;margin-right: 12px; border-radius: 5px;"></i>Instagram</p>
                        <button class="extended-fab-button" mat-fab >
                          <p class="extended-fab-button__text">Connect</p>
                        </button>
              </div>
              <div class="border_inside">
                  <p class="aaa"><i class="fab fa-twitch" aria-hidden="true" style="font-size:18px;color:#6441a5;margin-right: 12px; border-radius: 5px;"></i>Twitch</p>
                        <button class="extended-fab-button" mat-fab >
                          <p class="extended-fab-button__text">Connect</p>
                        </button>
              </div>
              <div class="border_inside">
                  <p class="aaa"><i class="fab fa-twitter-square" aria-hidden="true" style="font-size:18px;color:#55acee;margin-right: 12px; border-radius: 5px;"></i>Twitter</p>
                        <button class="extended-fab-button" mat-fab >
                          <p class="extended-fab-button__text">Connect</p>
                        </button>
              </div>
              <div class="border_inside">
                  <p class="aaa"><i class="fab fa-youtube" aria-hidden="true" style="font-size:18px;color:#e52d27;margin-right: 12px; border-radius: 5px;"></i>Youtube</p>
                        <button class="extended-fab-button" mat-fab >
                          <p class="extended-fab-button__text">Connect</p>
                        </button>
              </div>

          </div>

          </div>
           <!-- 4th border ends here -->


          <!-- 5th border -->
          <div class="border" style="margin-top: 0px;margin-right: 18px;">

            <div class="row70" style="margin: 10px 0 0 0px;">
              <div class="col40" style=" margin: 20px 0 0px 0px; " >
                  <h2 class="h2_leftbar">Adult Content </h2>
              </div>
              <div class="col60" style=" margin: 20px 0 20px 0px; ">

                <label class="checkbox">
                  <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                  <p class="p_checkbox" style="margin-right: 20px;">Does your work contain adult themes such as nudity or dangerous activities?</p>
                  <span *ngIf="marked">checked</span><span *ngIf="!marked">unchecked</span>
                  <span class="checkmark"></span>
                </label>
                <span class="pad" style="padding-right: 20px;">
                  <p color="gray2" class="sc-bxivhb bSgOwj" style="margin-right: 20px;">“Adult Content” means material that features nudity, dangerous activities or anything not suitable for audiences under 18 years old. Patreon is a place where all types of artists can express themselves freely. At the same time, we need to ensure that the browsing experience is sensitive to different age groups, cultures and contexts. Please help us keep Patreon a welcoming place for everyone and tag your content appropriately.<a href="#">Learn more</a></p>

                </span>


                <div>And <b>ngModel</b> also works, it's value is <b>{{theCheckbox}}</b></div>

              </div>

          </div>


          </div> <!-- 5th border ends here -->

          <!-- 6th border -->
          <div class="border" style="margin-top: 0px;margin-right: 18px;">

            <div class="row70" style="margin-top: 16px;">
              <div class="col40" style=" margin: 20px 0 20px 0px; " >
                  <h2 class="h2_leftbar">Google Analytics Tracking ID </h2>
                  <span class="pad"><a href="#">learn more</a></span>
              </div>
              <div class="col60" style="flex: 60% !important; display: flex ">

                <mat-form-field  appearance="none" class="input_mat" style="width: 62px; padding: 0px 0px 0px 0px;">
                  <input matInput type="text" name="btn" class="chkbtn" disabled value="UA-" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;">
                </mat-form-field>

                    <mat-form-field  appearance="none" class="input_mat">
                      <input matInput type="text" name="btn" class="chkbtn" placeholder="1234567-1" style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;">
                    </mat-form-field>
              </div>
            </div>

          </div> <!-- 6th border ends here -->


           <!-- 7th border -->
           <div class="border" style="margin-top: 0px;margin-right: 18px;">

            <div class="row70" style="margin: 10px 0 0 0px;">
              <div class="col40" style=" margin: 20px 0 0px 0px; " >
                  <h2 class="h2_leftbar">RSS Audio Feed</h2>
                  <p class="pad"><a href="#">learn more</a></p>
              </div>
              <div class="col60" style=" margin: 20px 0 20px 0px; ">

                <label class="checkbox">
                  <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                  <p class="p_checkbox">Enable RSS audio feed.</p>
                  <!-- <span *ngIf="marked">checked</span><span *ngIf="!marked">unchecked</span> -->
                  <span class="checkmark"></span>
                </label>
                <span class="pad" style="padding-right: 20px;">
                  <p color="gray2" class="sc-bxivhb bSgOwj" style="margin: -20px 20px 0px 0px;" > Gives each patron their own individual feed which will have the audio posts that patron has access to. Try it out with this <a href="#">test link</a></p>
                </span>
              </div>

          </div>


          </div> <!-- 7th border ends here -->





      </div>
      <!-- div 70 ends here -->


    <div class="right30">

          <button mat-flat-button class="btn1">
            <span class="bt1_text"> Save Changes </span>
          </button>

          <div class="border">

            <h2 class="h2_rightbar">Launch Checklist</h2>
              <mat-list role="list" >
                  <mat-list-item role="listitem"  class="mat_item" style="margin-top: 8px">
                    <i class="fa fa-check-circle" style="font-size:20px;color:#1c8659;margin-right: 12px;"></i>
                    Upload profile picture</mat-list-item>
                  <mat-list-item role="listitem" class="mat_item">
                      <i class="fa fa-check-circle" style="font-size:20px;color:#1c8659;margin-right: 12px;"></i>
                      Upload cover image</mat-list-item>
                  <mat-list-item role="listitem" class="mat_item">
                      <i class="fa fa-check-circle" style="font-size:20px;color:#1c8659;margin-right: 12px;"></i>
                      Create about section</mat-list-item>
                  <mat-list-item role="listitem" class="mat_item" style="margin-bottom: 8px">
                      <i class="fa fa-check-circle" style="font-size:20px;color:#1c8659;margin-right: 12px;"></i>
                      Verify phone number</mat-list-item>
                </mat-list>
            </div>


            <div class="border">

                <h2 class="h2_rightbar">Learn More</h2>
                <ul >
                  <li class="ul_li">
                    <span><a href="#" class="aa">Membership 101: Best Practices</a></span>
                  </li>
                  <li class="ul_li">
                      <span><a href="#" class="aa">How to choose your business model</a></span>
                  </li>
                  <li class="ul_li">
                      <span><a href="#" class="aa">How to talk about Patreon to your audience</a></span>
                  </li>
                  <li class="ul_li">
                      <span><a href="#" class="aa">Knowing your worth as a creator</a></span>
                  </li>
                </ul>
              </div>
    </div>
</div>
