<h2>Log In</h2>
<div class="container col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2" >

<form>
<label for="email">Email</label><br>
<input type="email" formControlName="email" class="form-control" /><br>

<label for="email">Password</label><br>
<input type="text" type="password" formControlName="password" class="form-control" /><br>

<button class="btn-fp">Forget Your password</button><br>
  <button class="btn">Login</button>  
  <br>

  <button class="btn btn-fb">Continue with Facebook</button><br>
  <p>New to Awria?</p><button class="btn-fp">SignUp</button>
</form>

</div>