
<div class="title">
    <h3 class="h3_title">Posts</h3>
    <p class="p_title">Manage featured posts and tags</p>
  </div>

  <div class="container">

        <div class="left70">
            <div class="border" style="margin-top: 0px;margin-right: 18px;">

              <div class="row70" style="margin: 10px 0 0 0px;">
                <div class="col40" style=" margin: 20px 0 20px 0px; " >
                    <h2 class="h2_leftbar">Make A Post </h2>
                    <span class="pad"><a href="#">learn more</a></span>

                </div>
                <div class="col60"  style="display: inline-flex;" style="margin: 20px 0 0 0;">
                    <span class="span_awria" style="margin: 20px 0 0 0;">Launch the post manager to
                      add content to your creator page. You can decide whether they're viewable
                       by anyone or just your paid patrons.
                    </span>

                    <button class="extended-fab-button" mat-fab style="margin: 23px 0 24px 0;" >
                        <p class="extended-fab-button__text">
                          <i class="fa fa-share-square-o" aria-hidden="true" style="font-size:18px;color:#ffff;margin-right: 12px; border-radius: 5px;"></i>
                          <span>Make a Post </span>
                        </p>
                      </button>
                </div>


              </div>

            </div> <!-- Border ends here-->

            <div class="border" style="margin-top: 0px;margin-right: 18px;">
                <div class="col40" style=" margin: 20px 0 -6px 0px; " >
                    <h2 class="h2_leftbar" style="font-size: 0.895rem !important;">FEATURED TAGS</h2>
                    <span class="pad"></span>
                </div>
                <div class="col60" style="margin: 0px 0 0 0;">
                  </div>
                  <div style="border-top: 1px solid lightgray !important; padding: 0 0 0 0px; margin: 0 0px 1px -3px;">
                    <div style="margin: 16px 8px 20px 20px;">
                      <span class="span_2" style="margin: 0px 0 0 0;">You don’t have any post tags to feature yet.
                        <a href="#">Learn how to tag posts.</a>
                      </span>
                    </div>
                  </div>
              </div>






        </div>
        <!-- div 70 ends here -->


      <div class="right30">

            <div class="border">

              <h2 class="h2_rightbar">Launch Checklist</h2>
                <mat-list role="list" >
                    <mat-list-item role="listitem"  class="mat_item" style="margin-top: 8px">
                      <i class="fa fa-check-circle" style="font-size:20px;color:#1c8659;margin-right: 12px;"></i>
                      Upload profile picture</mat-list-item>
                    <mat-list-item role="listitem" class="mat_item">
                        <i class="fa fa-check-circle" style="font-size:20px;color:#1c8659;margin-right: 12px;"></i>
                        Upload cover image</mat-list-item>
                    <mat-list-item role="listitem" class="mat_item">
                        <i class="fa fa-check-circle" style="font-size:20px;color:#1c8659;margin-right: 12px;"></i>
                        Create about section</mat-list-item>
                    <mat-list-item role="listitem" class="mat_item" style="margin-bottom: 8px">
                        <i class="fa fa-check-circle" style="font-size:20px;color:#1c8659;margin-right: 12px;"></i>
                        Verify phone number</mat-list-item>
                  </mat-list>
              </div>


              <div class="border">

                  <h2 class="h2_rightbar">Learn More</h2>
                  <ul >
                    <li class="ul_li">
                      <span><a href="#" class="aa">Making Your First Post</a></span>
                    </li>
                    <li class="ul_li">
                        <span><a href="#" class="aa">Reward and Connect with Your Patrons With Patreon’s Native Posting Feature</a></span>
                    </li>

                  </ul>
                </div>
      </div>
  </div>
