.card-header{
    background: transparent !important;
}
.mainlabel{
    margin: 0px;
    color: #817D76;
    font-weight: 600;
}
.buttons{
    background: #D8ECF9;
    border-radius: 50px;
    color:rgb(46, 100, 139) !important;
    margin-top: 15px ;
}








