<div class="card" style="    margin-top: 15px;">
  <div class="card-header">
    <label class="mainlabel">YOUR PLAN</label>
  </div>
  <div class="card-body" style="padding: 10px 10px 0px 10px !important;">
    <div class="row">
      <div class="col-lg-10 col-sm-10">
       <div class="row">
         <div class="col-lg-2 col-sm-2">
           <span style="font-weight: 700">Lite</span>
         </div>
       </div>
       <div class="row">
          <div class="col-lg-10 col-sm-10">
            <p>5% • Simple tools to set up recurring support from your fans</p>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-2">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
              <button class="buttons" mat-button>Downgrade</button>

          </div>
        </div>
        
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
        <div class="col-lg-10 col-sm-10">
         <div class="row">
           <div class="col-lg-3 col-sm-3">
             <span style="font-weight: 700">Pro</span>
           </div>
         </div>
         <div class="row">
            <div class="col-lg-10 col-sm-10">
              <p>8% • All the tools to master membership</p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-sm-2">
          <div class="row">
            <div class="col-lg-12 col-sm-12">
                <button class="buttons" mat-button>Current Plan</button>
  
            </div>
          </div>
          
          </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row">
          <div class="col-lg-10 col-sm-10">
           <div class="row">
             <div class="col-lg-3 col-sm-3">
               <span style="font-weight: 700">Premium</span>
             </div>
           </div>
           <div class="row">
              <div class="col-lg-10 col-sm-10">
                <p>12% • For established creators and creative businesses</p>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-sm-2">
            <div class="row">
              <div class="col-lg-12 col-sm-12">
                  <button class="buttons"  mat-button>Apply</button>
    
              </div>
            </div>
            
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row">
          <div class="col-lg-4 col-sm-5">
            <p style="    color:rgb(46, 100, 139) !important; margin-top: 5px"><u>Patreon's plans and features </u></p>
          </div>
        </div>
  </div>
</div>
<div class="card" style="margin:15px 0 15px !important">
    <div class="card-header">
        <label class="mainlabel">PAYMENT PROCESSING RATE</label>
      </div>
      <div class="card-body" style="padding: 0px !important">
        <div class="row">
          <div class="col-12">
              <table class="table table-bordered" style="margin-bottom:0px">
                  <thead>
                    <tr>
                      <th>PAYMENT AMOUNT</th>
                      <th>
                          RATE PER SUCCESSFUL PAYMENT</th>
                   
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>$3 or less</td>
                      <td>5% + 10¢</td>
                    
                    </tr>
                    <tr>
                      <td>over $3</td>
                      <td>2.9% + 30¢</td>
              
                    </tr>
                    <tr>
                      <td colspan="2"> <mat-icon>payment</mat-icon>Additional 1% for non-US PayPal payments</td>
                      
                
             
                    </tr>
                  </tbody>
                </table>
          </div>
        </div>
  

      
            
            
    </div>
</div>
<div class="card" >
    <div class="card-header">
        <label class="mainlabel">ACCOUNT MANAGEMENT</label>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg 12 col-sm-12" style="padding: 0 0 10px 10px " >
            <span style="font-weight: 700  ;font-size:medium ">Pause upcoming billing cycle</span >
          </div>
        </div>
        <div class="row">
            <div class="col-lg 12 col-sm-12">
              <p>If you pause a billing cycle, Patreon will not charge your patrons on June 1. Billing will resume on July 1, or you can pause again between June 1 and July 1.
                 You may do this as many times as you like. If you have Charge Up Front enabled,
                  new pledges will be charged during this time. If you don't want new patrons to sign up,
                   update your creator page to tell fans you're on hiatus <u style="  color:rgb(46, 100, 139) !important;">Learn more</u></p>
            </div>
          </div>
          <div class="row">
            <div class="col-12" style="padding-bottom: 10px">
                <button class="buttons"  mat-button>Pause June Billing cycle</button>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="row">
              <div class="col-lg 12 col-sm-12" style="padding: 0 0 10px 10px " >
                <span style="font-weight: 700  ;font-size:medium ">Unlaunch creator page</span >
              </div>
            </div>
            <div class="row">
                <div class="col-lg 12 col-sm-12">
                  <p>Patrons will not be able to access your creator page and patron billing will be suspended. We'll keep your creator page content and patron information, including pledges, in case you decide to launch your page at a later date <u style="  color:rgb(46, 100, 139) !important;">Learn more</u></p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                    <button class="buttons" mat-button><mat-icon>warning</mat-icon> Unlaunch your creator page</button>
                </div>
              </div>
      </div>
      </div>
      
