<div class="title">
    <h3 class="h3_title">Tiers</h3>
    <p class="p_title">Choose what to offer your patrons</p>
  </div>

  <div class="container">

    <div class="center">
        <h2 class="h2_leftbar">Upgrade to Pro Plan </h2>

      <span class="span_awria" style="margin: 20px 0 0 0;">Tiers are levels of membership with different benefits
         at different dollar amounts.Build a robust membership business by offering your fans
         benefits at different levels.
      </span>

      <button class="extended-fab-button" mat-fab >
          <p class="extended-fab-button__text">Upgrade</p>
      </button>
    </div>
  </div>
