
<div class="title">
  <h3 class="h3_title">Payments</h3>
  <p class="p_title">Let’s get you paid.</p>
</div>

<div class="container">

      <div class="left70">
           <!-- 1st border -->
           <div class="border" style="margin-top: 0px;margin-right: 18px;">

                  <div class="row70" style="margin: 10px 0 44px 0px;">
                      <div class="col40" style=" margin: 20px 0 20px 0px; " >
                          <h2 class="h2_leftbar">Payment Schedule </h2>
                      </div>
                      <div class="col60" style="display: inline-table;">
                          <!-- <h2 class="h2_leftbar media_query" >
                              Monthly, patrons charged up front </h2> -->
                              <h3 class="h3_heading"> Monthly, patrons charged up front</h3>
                          <span class="span_2" style="margin: 20px 0 0 0;">New patrons will be charged the day they become a patron,
                             then on the 1st of the month going forward.
                          </span>

                          <p class="phone_no" style="margin: 20px 0 0 0;"> Phone number verified
                          </p>

                      </div>
                  </div>
            </div> <!-- 1st border ends here -->


          <!-- 2nd border -->
           <div class="border" style="margin-top: 0px;margin-right: 18px;">

              <div class="row70" style="margin: 10px 0 44px 0px;">
                  <div class="col40" style=" margin: 20px 0 20px 0px; " >
                      <h2 class="h2_leftbar">Payment Schedule </h2>
                      <span class="pad"><a href="#">Learn more</a></span>
                  </div>
                  <div class="col60" style="display:grid;">

                      <span class="span_2" style="margin: 20px 0 0 0;">Edit your payout settings,
                            including how you'd like to get paid and your tax information.
                      </span>

                      <button class="extended-fab-button" mat-fab style="margin: 23px 0 24px 0;" >
                          <p class="extended-fab-button__text">
                            <i class="fa fa-share-square-o" aria-hidden="true" style="font-size:18px;color: rgb(0, 76, 129);margin-right: 12px; border-radius: 5px;"></i>
                            <span>Edit Payout </span>
                          </p>
                      </button>
                  </div>
              </div>
        </div> <!-- 2nd border ends here -->






      </div>
      <!-- div 70 ends here -->


    <div class="right30">

          <button mat-flat-button class="btn1">
            <span class="bt1_text"> Save Changes </span>
          </button>

          <div class="border">

            <h2 class="h2_rightbar">Launch Checklist</h2>
              <mat-list role="list" >
                  <mat-list-item role="listitem"  class="mat_item" style="margin-top: 8px">
                    <i class="fa fa-check-circle" style="font-size:20px;color:#1c8659;margin-right: 12px;"></i>
                    Upload profile picture</mat-list-item>
                  <mat-list-item role="listitem" class="mat_item">
                      <i class="fa fa-check-circle" style="font-size:20px;color:#1c8659;margin-right: 12px;"></i>
                      Upload cover image</mat-list-item>
                  <mat-list-item role="listitem" class="mat_item">
                      <i class="fa fa-check-circle" style="font-size:20px;color:#1c8659;margin-right: 12px;"></i>
                      Create about section</mat-list-item>
                  <mat-list-item role="listitem" class="mat_item" style="margin-bottom: 8px">
                      <i class="fa fa-check-circle" style="font-size:20px;color:#1c8659;margin-right: 12px;"></i>
                      Verify phone number</mat-list-item>
                </mat-list>
            </div>


            <div class="border">

                <h2 class="h2_rightbar">Learn More</h2>
                <ul >
                  <li class="ul_li">
                    <span><a href="#" class="aa">Setting up your payout preferences</a></span>
                  </li>
                  <li class="ul_li">
                      <span><a href="#" class="aa">When do I get paid?</a></span>
                  </li>
                  <li class="ul_li">
                      <span><a href="#" class="aa">Where is my payout?</a></span>
                  </li>
                </ul>
              </div>
    </div>
</div>
