<div class="container pb-lg-2">
  <div class="row b bb">
    <p class="program">Your Plan</p>
  </div>
  <div class="row">
    <div class="col-9">
      <p class="program">Lite</p><br>
      <p>5%</p>
      <p>Simple tools to set up recurring support from your fans</p>
    </div>
    <div class="col-3">
      <button class="btn">change plan</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row b bb">
    <p class="program">PAYMENT PROCESSING RATE</p>
  </div>
  <div class="row b bb">
    <div class="col-6">
      <p class="gray">PAYMENT AMOUNT</p>
    </div>
    <div class="col-6">
      <p class="gray">RATE PER SUCCESSFUL PAYMENT</p>
    </div>
  </div>
  <div class="row b bb">
      <div class="col-6">
          <p>$3 or less</p>
        </div>
        <div class="col-6 bl">
          <p>5% + 10¢</p>
        </div>
  </div>
  <div class="row b bb">
      <div class="col-6">
          <p>over $3</p>
        </div>
        <div class="col-6 bl">
          <p>2.9% + 30¢</p>
        </div>
  </div>
  <div class="row">
<p>Additional 1% for non-US PayPal payments</p>
  </div>
</div>

<div class="container">
    <div class="row b bb">
      <p class="program">ACCOUNT MANAGEMENT</p>
    </div>
    <div class="row b bb">
     <p>Pause upcoming billing cycle</p>
     <p>If you pause a billing cycle, Patreon will not charge your patrons on June 1. Billing will resume on July 1, or you can pause again between June 1 and July 1. You may do this as many times as you like. If you have Charge Up Front enabled, new pledges will be charged during this time.
        If you don't want new patrons to sign up, update your creator page to tell fans you're on hiatus.</p>
        <a href="#">Learn more</a>
        <br>        
      <button class="btn">Pause June billing cycle</button>
    </div>
    <div class="row b bb">
        <p>Pause upcoming billing cycle</p>
        <p>Patrons will not be able to access your creator page and patron billing will be suspended. We'll keep your creator page content and patron information, 
          including pledges, in case you decide to launch your page at a later date.</p>
           <a href="#">Learn more</a>
           <br>        
         <button class="btn">Unlaunch Creator page</button>
    </div>
  </div>