
<div class="container" style="border: 1px solid ;margin-top: 20px !important">
  <div class="row"  style="margin-top: 20px" >
    <div class="col-12">
      <span><b>Log in with Facebook</b></span>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-5">
      <img src="../../../../assets/images/facebook.png" style="width: 70px" >
      <span><b>Facebook</b></span>
    </div>
    <!-- <div class="col-xl-2 col-lg-2 col-md-2">
      <span><b>Facebook</b></span>
    </div> -->
    <div class="col-lg-6 col-xl-7 col-md-4">

    </div>
    <div class="col-sm-12 col-lg-2 col-md-2 col-xl-2">
<button mat-button  class="btn">Connect</button>
    </div>

  </div>
</div>