.bb{
    border-bottom: 1px solid rgb(229, 227, 221);
}
.p{
      padding: 10px 0;
}
.mat-radio-button{
      padding: 0 25px
}
.btnn{
      background:  rgb(46, 100, 139) !important;;
      border-radius: 50px;
      color: white
}
.container {
      display: -ms-flexbox; /* IE10 */
      display: flex;
      -ms-flex-wrap: wrap; /* IE10 */
      flex-wrap: wrap;
      width: 100%;
      padding: 0 0 0 0;
}
.btn{
        background: #D8ECF9;
        border-radius: 50px;
        color:rgb(46, 100, 139) !important;
        margin-top: 15px ;
    }
    .card-header{
      background-color: white !important;
  }
