<div class="row" style="margin-top: 15px ">
  <div class="col-lg-12 col-sm-12">
    <h4>App Integrations</h4>
  </div>
</div>
<div class="row">
    <div class="col-lg-12 col-sm-12">
  <p>Applications and tools that you've granted access to your Patreon creator account. Click here for a more detailed overview of what information is accessible.</p>
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col-lg-1 col-sm-1">
  
          <img src="../../../../assets/images/discord.png" style="height: 50px;width:50px">
     
    </div>
    <div class="col-lg-5 col-sm-5">
      <span><b>Discord</b><br>
        <p>Access Discord roles from your creators.</p>
        </span>
    </div>
    <div class="col-lg-4 col-sm-4"></div>
    <div class="col-lg-2 col-sm-2">
        <button mat-button class="btnn">Connect</button>

    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row" style="margin-top: 20px" >
      <div class="col-lg-1 col-sm-1">
    
            <img src="../../../../assets/images/Reddit.png" style="height: 50px;width:50px">
       
      </div>
      <div class="col-lg-5 col-sm-5">
        <span><b>Discord</b><br>
          <p>Exclusive Reddit flair for patrons.</p>
          </span>
      </div>
      <div class="col-lg-4 col-sm-4"></div>
      <div class="col-lg-2 col-sm-2">
          <button mat-button class="btnn">Connect</button>
  
      </div>
    </div>
