
<div class="title">
  <h3 class="h3_title">About</h3>
  <p class="p_title">Set your creator details and make a great first impression</p>
</div>

<div class="container">

      <div class="left70">
          <div class="border" style="margin-top: 0px;margin-right: 18px;">

            <div class="row70">
              <div style=" margin: 20px 0 20px 0px; " class="col40">
                  <h2 class="h2_leftbar">Launch Checklist</h2>
                  <span class="pad">Required</span>
              </div>
              <div class="col60">
                  <mat-form-field appearance="outline" class="input_mat">
                      <input matInput placeholder="Placeholder">
                    </mat-form-field>
              </div>
            </div>
          </div>
      </div>


    <div class="right30">

          <button mat-flat-button class="btn1">
            <span class="bt1_text"> Save Changes </span>
          </button>

          <div class="border">

            <h2 class="h2_rightbar">Launch Checklist</h2>
              <mat-list role="list" >
                  <mat-list-item role="listitem"  class="mat_item" style="margin-top: 8px">
                    <i class="fa fa-check-circle" style="font-size:20px;color:#1c8659;margin-right: 12px;"></i>
                    Upload profile picture</mat-list-item>
                  <mat-list-item role="listitem" class="mat_item">
                      <i class="fa fa-check-circle" style="font-size:20px;color:#1c8659;margin-right: 12px;"></i>
                      Upload cover image</mat-list-item>
                  <mat-list-item role="listitem" class="mat_item">
                      <i class="fa fa-check-circle" style="font-size:20px;color:#1c8659;margin-right: 12px;"></i>
                      Create about section</mat-list-item>
                  <mat-list-item role="listitem" class="mat_item" style="margin-bottom: 8px">
                      <i class="fa fa-check-circle" style="font-size:20px;color:#1c8659;margin-right: 12px;"></i>
                      Verify phone number</mat-list-item>
                </mat-list>
            </div>


            <div class="border">

                <h2 class="h2_rightbar">Learn More</h2>
                <ul >
                  <li class="ul_li">
                    <span><a href="#" class="aa">Membership 101: Best Practices</a></span>
                  </li>
                  <li class="ul_li">
                      <span><a href="#" class="aa">How to choose your business model</a></span>
                  </li>
                  <li class="ul_li">
                      <span><a href="#" class="aa">How to talk about Patreon to your audience</a></span>
                  </li>
                  <li class="ul_li">
                      <span><a href="#" class="aa">Knowing your worth as a creator</a></span>
                  </li>
                </ul>
              </div>
    </div>
</div>
