
<mat-grid-list cols="2" rowHeight="4:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>


<div class="card py-3 px-3 col-md-12">
  <div class="row">
    <div class="col-md-10 offset-2">

      <div class="card custom-card">
        <div class="card-header bg-white">
          <h6 class="text-uppercase">Choose post type</h6>

        </div>
        <div class="card-body custom-card-body">
          <div class="row">
            <div class="col-md-4 custom-col-4">
              <div class="custom-border-box" style="border-right: 1px solid lightgray !important; border-bottom: 1px solid lightgray !important">
                <ul>
                  <!-- <li><img src="../../assets/images/posts/icon-text.png" alt="Text"></li> -->
                  <li><img class="imagestyle" src="../../assets/Svgs/font.svg" alt="Text"></li>
                  <li class="fontstyle">Text</li>
                </ul>
              </div>
            </div>
            <div class="col-md-4 custom-col-4">
              <div class="custom-border-box" style="border-right: 1px solid lightgray !important; border-bottom: 1px solid lightgray !important">
                <ul>
                  <!-- <li><img src="../../assets/images/posts/icon-camera.png" alt="Text"></li> -->
                  <li><img class="imagestyle" src="../../assets/Svgs/photo-camera.svg" alt="Text"></li>
                  <li class="fontstyle">Image</li>
                </ul>
              </div>
            </div>
            <div class="col-md-4 custom-col-4">
              <div class="custom-border-box" style=" border-bottom: 1px solid lightgray !important">
                <ul>
                  <!-- <li><img src="../../assets/images/posts/icon-play.png" alt="Text"></li> -->
                  <li><img class="imagestyle" src="../../assets/Svgs/video-player.svg" alt="Text"></li>
                  <li class="fontstyle">Video</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 custom-col-4">
              <div class="custom-border-box" style="border-right: 1px solid lightgray !important; border-bottom: 1px solid lightgray !important">
                <ul>
                  <!-- <li><img src="../../assets/images/posts/icon-livestream.png" alt="Text"></li> -->
                  <li><img class="imagestyle" src="../../assets/Svgs/video-camera.svg" alt="Text"></li>
                  <li class="fontstyle">Live Stream</li>
                </ul>
              </div>
            </div>
            <div class="col-md-4 custom-col-4">
              <div class="custom-border-box" style="border-right: 1px solid lightgray !important; border-bottom: 1px solid lightgray !important">
                <ul>
                  <!-- <li><img src="../../assets/images/posts/icon-audio.png" alt="Text"></li> -->
                  <li><img class="imagestyle" src="../../assets/Svgs/headphones.svg" alt="Text"></li>
                  <li class="fontstyle">Audio</li>
                </ul>
              </div>
            </div>
            <div class="col-md-4 custom-col-4">
              <div class="custom-border-box" style=" border-bottom: 1px solid lightgray !important">
                <ul>
                  <!-- <li><img src="../../assets/images/posts/icon-link.png" alt="Text"></li> -->
                  <li><img class="imagestyle" src="../../assets/Svgs/unlink.svg" alt="Text"></li>
                  <li class="fontstyle">Link</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 custom-col-4">
              <div class="custom-border-box" style="border-right: 1px solid lightgray !important">
                <ul>
                  <!-- <li><img src="../../assets/images/posts/icon-poll.png" alt="Text"></li> -->
                  <li><img class="imagestyle" src="../../assets/Svgs/menu.svg" alt="Text"></li>
                  <li class="fontstyle">Polls</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="margin: 32px 0px 0px 0px;">
        <p>Easily share exclusive content from our mobile app with Lens. <a href="#">Learn more</a></p>
      </div>
    </div>
  </div>
</div>