 <div class="tabs" >
    <nav mat-tab-nav-bar mat-align-tabs="left" class="navExpand">
        <a mat-tab-link style="/*margin: 0px -36px 0 -36px;*/ padding: 0 0 0 0"
           *ngFor="let link of navLinks"
           [routerLink]="['/'+link.path]"
           routerLinkActive #rla="routerLinkActive"
           [active]="rla.isActive">
          {{link.label}}
        </a>
      </nav>

 </div>




    <mat-expansion-panel class="matExpand" (click)="clickactive()" [expanded]="panelOpenState">
      <mat-expansion-panel-header >
        {{active_item}}
      </mat-expansion-panel-header>

      <mat-action-row class="forhover" (click)="about()">
        <span> About</span>
      </mat-action-row>

      <mat-action-row  class="forhover" (click)="tiers()">
          <span>  Tiers</span>
      </mat-action-row>

      <mat-action-row class="forhover" (click)="goals()">
            <span>  Goals</span>
      </mat-action-row>

      <mat-action-row class="forhover" (click)="thanks()">
          <span>  Thanks</span>
      </mat-action-row>

      <mat-action-row class="forhover" (click)="payments()">
          <span>  Payments</span>
      </mat-action-row>

      <mat-action-row class="forhover" (click)="posts()">
          <span>  Posts</span>
      </mat-action-row>

      <mat-action-row class="forhover" (click)="offers()">
          <span>  Offers</span>
     </mat-action-row>


    </mat-expansion-panel>




  <router-outlet></router-outlet>
