<h2>Log In</h2>
<div class="container col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2" >

<form id="login_form" #login_form="ngForm">

    <div class="form-group" [class.has-error]="email.invalid && email.touched">
        <!-- <label class="control-label"> -->
        <p for="pass">Email</p>
        <!-- </label> -->
        <input autocomplete="off" required email type="text" name="email" #email="ngModel" [(ngModel)]="user.email" id="email"
          placeholder="Enter Email"  class="form-control">

        <small style="color:red" class="help-block" *ngIf="email.errors?.required  && email.touched">
          Email is required
        </small>
        <small style="color:red" class="help-block" *ngIf=" email.errors?.email && email.touched">
          Email is Badly formated
        </small>
      </div>



<br>

<label for="email">Password</label><br>
<input autocomplete="on" type="password" [(ngModel)]="user.password" class="form-control" name="password" required/>

<br>

<button class="btn-fp">Forget Your password</button><br>
  <button class="btn" (click)="login()" type="button" [disabled]="!login_form.form.valid">Login</button>
  <br>

  <button class="btn btn-fb" (click)="this.login_fb()">Continue with Facebook</button><br>
  <div style="    text-align: center;" >
    <p>New to Awria?</p><button class="btn-fp" routerLink="/home-page/register">SignUp</button>
  </div>

</form>

</div>
