<div class="row">
    <div class="col-lg-8 col-md-8 col-xs-12 pl-4  pr-4">
      <div class="row">
        <p><strong>Does your work contain 18+ themes such as real or illustrated nudity?</strong></p>
      </div><br>  
      <div class="row">
          <label>Yes, some or all of it.</label>
          
          <label>Nope, none at all.</label>
        </div>
      <div class="row">          
        <div class="col-lg-12">
          <button class="btnn" mat-button>OK</button>
        </div><br>
  
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12">
      <div class="card">
        <div class="card-body">
          <i class="fas fa-info-circle"></i>
          <p>"18+" means material that features real or illustrated nudity, or other creation that may
            consider inappropriate for people under 18 years old.
          </p>
        </div>
      </div>
    </div>
  </div>