.btnn{
    background:  rgb(46, 100, 139) !important;;
    border-radius: 50px;
    color: white
  }
  @media only screen and (max-width: 600px) {
    .btnn{
       padding: 0 75px;
       margin-bottom: 22px;
      }
  }
  @media only screen and (min-width: 768px)  {
    .btnn{
     padding: 0 175px;
      }
  } 
  @media only screen and (min-width: 1200px) {
    .btnn{
     padding: 0 200px;
      }
  }