<div class="title">
    <h3 class="h3_title">Special Offers</h3>
    <p class="p_title">Tell your patrons what you're working towards with their support</p>
  </div>

  <div class="container">

    <div class="center">
        <h2 class="h2_leftbar">Upgrade to Pro Plan </h2>

      <span class="span_awria" style="margin: 20px 0 0 0;">Launch a Special Offer to acquire new patrons,
        motivate your existing patrons to pledge more, or to keep your existing patrons engaged.
      </span>

      <button class="extended-fab-button" mat-fab >
          <p class="extended-fab-button__text">Upgrade</p>
      </button>
    </div>
  </div>
