<div class="border">

    <h2 class="bottom">
        <span>PAYMENT METHODS</span>
      </h2>


    <div class="upper">
     <p class="p_text">You do not currently have any payment methods.</p>
      
    </div>
  
  
    
  
  </div>
  <div>
    <button class="extended-fab-button" mat-fab >
        <p class="extended-fab-button__text">Add Card</p>
    </button>
    <button class="extended-fab-button2" mat-fab >
        <p class="extended-fab-button__text">Add Paypal </p>
    </button>
  </div>