<div class="container">

  <div class="row row_pad">
    <div class="custom_padding">
      <span class="p_bold">Offer benefits that are easy to fulfill.</span>

      <p class="paragraph">
          For example: access to communities, discounts to your merch store, removing ads, or a few “deleted” minutes from your content. If you want to offer something that requires more effort, consider adding a patron limit.
      </p>
    </div>

    <div class="row border ">
      <div class="col-lg-2 col-sm-2 custom_padding0" style="padding: 16px 0px 16px 16px;">
         <i class="fa fa-microphone microphone_custom"></i>
       </div>
      <div class="col-lg-9 col-sm-9 custom_padding0" style="padding-top: 9px;">
        <p class="paragraph">
          See how <strong>Daily Doodads</strong> has choosen benefits that are easy to fulfill.
        </p>
      </div>

      <div class="col-lg-1 col-sm-1 custom_padding0">
          <i class="fa fa-angle-right arrow_custom"></i>
      </div>
    </div>

   </div>


</div>