
<div class="dropdown custom-dropdown">
  <a class="custom-dropbtn"><ngx-avatar
    src="{{this.profile_img}}"
    name="Jane Doe"
    value="30%"
    bgColor="#000000"
    fgColor="#58D3F7"
    size="40"
    textSizeRatio="2.5"
    [round]="true"
    class="custom-avatar"
  ></ngx-avatar></a>
  <div class="custom-dropdown-content">
    <a href="#">Posts from my creators</a>
    <a href="#">My Profile</a>
    <a href="#">Explore creators</a>
    <a routerLinkActive="active" routerLink="/my-membership" >My memberships</a>
    <a routerLinkActive="active" routerLink="/artist-portal/profile-settings/my-profile">My profile settings</a>
    <a href="#">Help Center &amp; FAQ</a>
    <a href="#">Create on Awria</a>
    <a (click) = 'logout()' >Log out</a>
  </div>
</div>
