<div class="row">
  <div class="col-lg-8 col-sm-12 offset-lg-3">
    <div class="card-header bg-white">
      <h6 class="text-uppercase">Choose post type</h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="custom-col-lg-4 col-lg-4 col-sm-12"  routerLink ="/artist-portal/posts/text">
          <div class="custom-new-post-type">
            <ul>
              <li>
                <img
                  class="imagestyle"
                  src="../../../../assets/images/icons/text.svg"
                  alt="Text"
                />
              </li>
              <li class="fontstyle" ><p>Text</p></li>
            </ul>
          </div>
        </div>
        <div class="custom-col-lg-4 col-lg-4 col-sm-12">
          <div class="custom-new-post-type">
            <ul>
              <li>
                <img
                  class="imagestyle"
                  src="../../../../assets/images/icons/photo-camera.svg"
                  alt="Text"
                />
              </li>
              <li class="fontstyle">Image</li>
            </ul>
          </div>
        </div>
        <div class="custom-col-lg-4 col-lg-4 col-sm-12">
          <div class="custom-new-post-type">
            <ul>
              <li>
                <img
                  class="imagestyle"
                  src="../../../../assets/images/icons/video-camera.svg"
                  alt="Text"
                />
              </li>
              <li class="fontstyle">Video</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="custom-col-lg-4 col-lg-4 col-sm-12">
          <div class="custom-new-post-type">
            <ul>
              <li>
                <img
                  class="imagestyle"
                  src="../../../../assets/images/icons/video-camera.svg"
                  alt="Text"
                />
              </li>
              <li class="fontstyle"><p>Live Stream</p></li>
            </ul>
          </div>
        </div>
        <div class="custom-col-lg-4 col-lg-4 col-sm-12">
          <div class="custom-new-post-type">
            <ul>
              <li>
                <img
                  class="imagestyle"
                  src="../../../../assets/images/icons/headphones.svg"
                  alt="Text"
                />
              </li>
              <li class="fontstyle">Audio</li>
            </ul>
          </div>
        </div>
        <div class="custom-col-lg-4 col-lg-4 col-sm-12">
          <div class="custom-new-post-type">
            <ul>
              <li>
                <img
                  class="imagestyle"
                  src="../../../../assets/images/icons/unlink.svg"
                  alt="Text"
                />
              </li>
              <li class="fontstyle">Link</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="custom-col-lg-4 col-lg-4 col-sm-12">
          <div class="custom-new-post-type">
            <ul>
              <li>
                <img
                  class="imagestyle"
                  src="../../../../assets/images/icons/note.svg"
                  alt="Text"
                />
              </li>
              <li class="fontstyle">Polls</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
        </div>
        <div class="col-lg-4 col-sm-12">
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="row il">
  <div class="col-lg-4">
    <div class="card-body">
      <img class="imagestyle" src="../../../../assets/images/icons/group.svg" alt="Text">
      <p class="fontstyle">Text</p>
    </div>
  </div>

  <div class="col-lg-4">
      <div class="card-body">
      <img class="imagestyle" src="../../../../assets/images/icons/text.svg" alt="Text">
      <p class="fontstyle">Text</p>
    </div>
  </div>
  <div class="col-lg-4">
      <div class="card-body">
        <img class="imagestyle" src="../../../../assets/images/icons/promotion.svg" alt="Text">
        <p class="fontstyle">Text</p>
      </div>
    </div>
</div> -->

<!--
<mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile>
                 1
     </mat-grid-tile>
    <mat-grid-tile>
       2
    </mat-grid-tile>
    <mat-grid-tile>
       3
    </mat-grid-tile>
    <mat-grid-tile>
        4
    </mat-grid-tile>
    <mat-grid-tile>
      #
    </mat-grid-tile>
  </mat-grid-list> -->

<!-- <div class="card py-3 px-3 col-md-12">
  <div class="row">
    <div class="col-md-10 offset-2">
      <div class="card-header bg-white">
        <h6 class="text-uppercase">Choose post type</h6>
      </div>
      <div class="row">
        <div class="card custom-card">
          <div class="card-body custom-card-body">
            <div class="col-4">
              <div class="custom-border-box">
                <ul> -->
                  <!-- <li><img src="../../assets/images/posts/icon-text.png" alt="Text"></li> -->
                  <!-- <li>
                    <img
                      class="imagestyle"
                      src="../../../../assets/images/icons/text.svg"
                      alt="Text"
                    />
                  </li>
                  <li class="fontstyle">Text</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="card custom-card">
          <div class="card-body custom-card-body">
            <div class="col-4">
              <div
                class="custom-border-box"
                style="border-right: 1px solid lightgray !important; border-bottom: 1px solid lightgray !important"
              >
                <ul> -->
                  <!-- <li><img src="../../assets/images/posts/icon-camera.png" alt="Text"></li> -->
                  <!-- <li>
                    <img
                      class="imagestyle"
                      src="../../../../assets/images/icons/photo-camera.svg"
                      alt="Text"
                    />
                  </li>
                  <li class="fontstyle">Image</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="card custom-card">
          <div class="card-body custom-card-body">
            <div class="col-4">
              <div
                class="custom-border-box"
                style=" border-bottom: 1px solid lightgray !important"
              >
                <ul> -->
                  <!-- <li><img src="../../assets/images/posts/icon-play.png" alt="Text"></li> -->
                  <!-- <li>
                    <img
                      class="imagestyle"
                      src="../../../../assets/images/icons/video-camera.svg"
                      alt="Text"
                    />
                  </li>
                  <li class="fontstyle">Video</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 custom-col-4">
          <div
            class="custom-border-box"
            style="border-right: 1px solid lightgray !important; border-bottom: 1px solid lightgray !important"
          >
            <ul>
              <li>
                <img
                  class="imagestyle"
                  src="../../../../assets/images/icons/video-camera.svg"
                  alt="Text"
                />
              </li>
              <li class="fontstyle">Live Stream</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 custom-col-4">
          <div
            class="custom-border-box"
            style="border-right: 1px solid lightgray !important; border-bottom: 1px solid lightgray !important"
          >
            <ul>
              <li>
                <img
                  class="imagestyle"
                  src="../../../../assets/images/icons/headphones.svg"
                  alt="Text"
                />
              </li>
              <li class="fontstyle">Audio</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 custom-col-4">
          <div
            class="custom-border-box"
            style=" border-bottom: 1px solid lightgray !important"
          >
            <ul>
              <li>
                <img
                  class="imagestyle"
                  src="../../../../assets/images/icons/unlink.svg"
                  alt="Text"
                />
              </li>
              <li class="fontstyle">Link</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 custom-col-4">
          <div
            class="custom-border-box"
            style="border-right: 1px solid lightgray !important"
          >
            <ul>
              <li>
                <img
                  class="imagestyle"
                  src="../../../../assets/images/icons/note.svg"
                  alt="Text"
                />
              </li>
              <li class="fontstyle">Polls</li>
            </ul>
          </div>
        </div>
      </div>

      <div style="margin: 32px 0px 0px 0px;">
        <p>
          Easily share exclusive content from our mobile app with Lens.
          <a href="#">Learn more</a>
        </p>
      </div>
    </div>
  </div>
</div> -->
