<div class="row">
  <div class="col-11 offset-lg-1">
      <div class="row">
          <div class="col-lg-9 col-md-8 col-sm-7">
            <button mat-button class="button2"> Download Pledge growth as .csv</button>
          </div>

          <div class="col-lg-2 col-md-3 col-sm-3" style="text-align: right !important ;padding-right: 0;margin-right: 0;color: blue"> <span><u>Learn more</u></span></div>
        </div>
        <div class="row" style="margin-top: 20px !important">
          <div class="col-12">
            <div class="card">
                <canvas id="lineChart"></canvas>
            </div>

          </div>
        </div>
        <div class="row" style="margin-top: 20px !important">
          <div class="col-lg-4 col-md-12 col-sm-12  pr-0" >
            <div class="card">
        <img  src="../../assets/images/offer.jpg" style="height: 130px !important">
            </div>

          </div>
          <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="row">
              <div class="col-12">
                <span><b>Boost your growth</b></span>
              </div>
              <div class="col-12">
                <p>
                    Special Offers is a tool that helps you dramatically grow your membership. Check out our education guides, reach out to the community of creators for inspiration, and leverage our tool to help you track performance of your Special Offer.
                </p>
              </div>
              <div class="col-12">
                <span><u style="color: blue">Get started</u></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


                  <ng-container matColumnDef="month">
                    <th mat-header-cell *matHeaderCellDef>Month </th>
                    <td mat-cell *matCellDef="let element" > {{element.month}}</td>
                  </ng-container>


                  <ng-container matColumnDef="newPledge">
                    <th mat-header-cell *matHeaderCellDef> New Pledges </th>
                    <td mat-cell *matCellDef="let element" style="font-family: cursive ;text-align: center">
                      ${{element.newPledge}} </td>
                  </ng-container>


                  <ng-container matColumnDef="increasedPledge">
                    <th mat-header-cell *matHeaderCellDef>

Increased Pledges</th>
                    <td mat-cell *matCellDef="let element" style="text-align: center"> ${{element.increasedPledge}}</td>
                  </ng-container>
                  <ng-container matColumnDef="deletePledge">
                    <th mat-header-cell *matHeaderCellDef>

                        Deleted Pledges </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center">${{element.deletePledge}} </td>
                  </ng-container>
                  <ng-container matColumnDef="decreasedPledge">
                      <th mat-header-cell *matHeaderCellDef>
                          Decreased Pledges </th>
                      <td mat-cell *matCellDef="let element" style="text-align: center">${{element.decreasedPledge}} </td>
                    </ng-container>
                    <ng-container matColumnDef="totalChange">
                        <th mat-header-cell *matHeaderCellDef>
                            Total Change </th>
                        <td mat-cell *matCellDef="let element" style="text-align: center">${{element.totalChange}}
                            +0 pledges </td>
                      </ng-container>
                      <ng-container matColumnDef="endOfMonth">
                          <th mat-header-cell *matHeaderCellDef>

Amount Pledged At End of Month</th>
                          <td mat-cell *matCellDef="let element" style="text-align: center"> ${{element.endOfMonth}}
                             </td>
                        </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
          </div>

        </div>
        <div class="row" style="margin-top: 20px !important">
          <div class="col-12">
            <span> Detailed pledge information is available from December 2015 onwards.</span>
          </div>
        </div>
  </div>
</div>
