<h2>Sign Up</h2>
<div class="container col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2" >

<form >
    <label for="name">Name</label><br>
    <input type="text"  [(ngModel)]="name" name="name" class="form-control" /><br>

<label for="email">Email</label><br>
<input type="email"  [(ngModel)]="email" name="email" class="form-control" /><br>

<label for="con_email">Confirm Email</label><br>
<input type="email"  [(ngModel)]="cemail" name="cemail" class="form-control" /><br>


<label for="email">Password</label><br>
<input type="text" type="password"  [(ngModel)]="password" name="password" class="form-control" /><br>

<input type="checkbox" class="checkbox" ng-class = "{'checked': register.term, 'unchecked' : !register.term}"><p>You agree to our <a (click)="signup()">Term of use</a> and <a href="#">Privacy Policy</a></p><br>
  <button class="btn" type="button" (click)="signup()">Sign Up</button>
  <br>
<p class="text" (click)="signup()">or sign up with Facebook</p>
  <button class="btn btn-fb">Sign up with Facebook</button><br>
  <p>Already have an account?</p><button class="btn-fp">Log in</button>
</form>

</div>
