<div class="row">
  <div class="col-lg-8 col-md-8 col-xs-12 pl-4  pr-4">
    <div class="row">
      <p><strong>Almost there! We sent verification email to Email-address</strong></p>
    </div><br>
    <div class="row">
      <p>Not seeing the verification email from no-reply@awria.com?
        Double-check your spam folder and review your email filters. <br>
        If stuck still don't see an email after serveral minutes, you can <a>resend</a>
        the verification link.
      </p>
    </div>
  </div>

<div class="col-lg-4 col-md-4 col-xs-12">
  <div class="card">
    <div class="card-body">
      <i class="fas fa-info-circle"></i>
      <p>What do we do this? We want to safely assosciate your email address with your Awria account.
      </p>
    </div>
  </div>
</div>
</div>