<div class="card" style="margin-top: 20px">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-10 col-sm-10">
        <span><b>Log in with Facebook</b></span>
      </div>
    </div>

    <div class="row mt-lg-2">
      <div class="col-lg-10 col-sm-10">
        <i class="fab fa-2x fa-facebook-square blue"></i>
        Facebook
      </div>
      <div class="col-lg-2 col-sm-2">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <button class="btnn" mat-button>Connect</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Password -->
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <span><b>Password</b></span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <p>Change your Password</p>
        <br />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-3 text-right">
        <label>Old Password</label>
      </div>
      <div class="col-lg-8 col-sm-8">
        <input
          type="password"
          placeholder="Old Password"
          name="old"
          [(ngModel)]="password.oldPassword"
          class="form-control"
        /><br />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-3 text-right">
        <label>New Password</label>
      </div>
      <div class="col-lg-8 col-sm-8">
        <form>
          <div class="form-group" [class.has-error]="pass.invalid && pass.touched">
            <input
              required
              pattern="(?=.*[#/?//&/@/$/!/%////\/'/'/}/{/}])(?=.*\d).{7,}"
              autocomplete="off"
              type="password"
              placeholder="Enter Password"
              name="psw"
              #pass="ngModel"
              [(ngModel)]="password.newPassword"
              class="form-control"
            />

            <!-- <small id="msg" style="color:red" class="help-block" *ngIf="pass.touched && pass.errors?.required">
                Required
              </small> -->
            <small
              id="msg"
              style="color:red;font-size: 15px"
              class="help-block"
              *ngIf="pass.touched && pass.errors?.pattern"
            >
              Must contain at least one number and Special character, and at least 7.
            </small>
          </div>
          <br />
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-3 text-right">
        <label>Confirm Password</label>
      </div>
      <div class="col-lg-8 col-sm-8">
        <input
          type="password"
          placeholder="New Password"
          name="new"
          [(ngModel)]="password.cPassword"
          class="form-control"
        /><br />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12 text-right">
        <button (click)="changePasssword()" class="btnn" mat-button>Update Password</button>
      </div>
    </div>

    <!-- Information -->
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <span><b>Information</b></span>
      </div>
    </div>
    <div class="row mt-lg-4">
      <div class="col-lg-3 col-sm-3 text-right">
        <label>User Profile</label>
      </div>
      <div class="col-lg-2 col-sm-2">
        <img class="profile-img" src="../../../../assets/images/profile-pic.png" />
      </div>
      <div class="col-lg-3 col-sm-3">
        <div
          class="file btn btn-lg btn-primary"
          style="  position: relative ; background-color: #00497C;border-radius: 50px ;
                    overflow: hidden;"
        >
          <small style="font-size:small !important">Choose new Image</small>
          <input
            (change)="imageUpload($event.target.files)"
            style="  position: absolute;
                        font-size: 50px;
                        opacity: 0;
                        right: 0;
                        top: 0;"
            type="file"
            name="userprofile"
          />
        </div>
      </div>
      <div class="col-lg-3 col-sm-3">
        <a href="#">Remove Image</a>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-3 col-sm-3 text-right">
        <label>User Profile Name</label>
      </div>
      <div class="col-lg-8 col-sm-8">
        <input type="text" [(ngModel)]="name" name="name" placeholder="Name" class="form-control" disabled /><br />
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-sm-3 text-right">
        <label>Email</label>
      </div>
      <div class="col-lg-8 col-sm-8">
        <input
          type="email"
          [(ngModel)]="email"
          name="email"
          placeholder="samantha@gmail.com"
          class="form-control"
          disabled
        /><br />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-3 text-right">
        <label>Country Of Residence (Required)</label>
      </div>
      <div class="col-lg-8 col-sm-8">
        <div class="s1lpyrmr-2 hoIGRd">
          <select id="countryCode" style="width: 100% ;height:55px" (change)="getCountry($event)">
            <option value="No Country">Please select a country...</option>
            <option *ngFor="let country_value of this.country_list" value="{{ country_value.name }}" [selected] = "this.country == country_value.name">{{ country_value.name }}</option>
          </select>
        </div>

        <!-- <input #countrySelect="ngx-country-select" ngxCountrySelect> -->
      </div>
    </div>

    <!-- Shipping Address -->
    <div class="row">
      <div class="col-lg-3 col-sm-3 text-right">
        <label>Shipping Addresses</label>
      </div>
      <div class="col-lg-8 col-sm-8">
        <p>If your pledge includes a physical benefit, enter your shipping address below.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-3"></div>
      <div class="col-lg-8 col-sm-8">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12 col-sm-12">
                <label>Full Name</label>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-sm-12">
                <input type="text" [(ngModel)]="shipping.name" name="shippingName" class="form-control" /><br />
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-4 text-left">
                <label>Address</label>
              </div>
              <div class="col-lg-4 col-sm-4  text-left">
                <label>Apt, suite, etc..</label>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <input type="text" [(ngModel)]="shipping.address" name="shippingAddress" class="form-control" />
              </div>
              <div class="col-lg-6 col-sm-6">
                <input type="text" [(ngModel)]="shipping.apt" name="shippingApt" class="form-control" /><br />
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-sm-12">
                <label>City</label>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-sm-12">
                <input [(ngModel)]="shipping.city" name="shippingCity" type="text" class="form-control" /><br />
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-sm-4 text-left">
                <label>Country</label>
              </div>
              <div class="col-lg-4 col-sm-4 text-left">
                <label>State</label>
              </div>
              <div class="col-lg-4 col-sm-4 text-left">
                <label>Postal Code</label>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-sm-4 text-left">
                <div class="s1lpyrmr-2 hoIGRd">
                  <select
                    id="countryCode"
                    class="b7czoh-0 dWjmVZ"
                    style="width: 100% ;height:55px"
                    (change)="getShippingCountry($event)"
                  >
                    <option value="No Country">Please select a country...</option>
                    <option *ngFor="let country of this.country_list" value="{{ country.name }}" [selected] = "country.name == this.shipping.sCountry">{{
                      country.name
                    }}</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4 text-left">
                <div class="dropdown ">
                  <input type="text" [(ngModel)]="shipping.state" name="shippingState" class="form-control" />
                </div>
              </div>
              <div class="col-lg-4 col-sm-4 text-left">
                <input type="text" [(ngModel)]="shipping.postCode" name="shippingPostCode" class="form-control" /><br />
              </div>
            </div>

            <div class="row ">
              <div class="col-lg-12 col-sm-12 text-right bt">
                <br /><button class="btnn" mat-button (click)="addShippingAddress()">Add Address</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- About you -->
    <div class="row pt-3">
      <div class="col-lg-3 col-sm-3 text-right">
        <label>About you</label>
      </div>
      <div class="col-lg-8 col-sm-8">
        <div class="editor_container">
          <angular-editor [(ngModel)]="about" [config]="config"></angular-editor>
        </div>
      </div>
    </div>

    <!-- social links -->
    <div class="row pt-3">
      <div class="col-lg-3 col-sm-3 text-right">
        <label>Social Links</label>
      </div>
      <div class="col-lg-8 col-sm-8 ">
        <div class="card mb">
          <div class="row p">
            <div class="col-lg-8 col-sm-1">
              <i class="fab fa-facebook-square"></i>
              Facebook
            </div>
            <div class="col-lg-2 col-sm-2">
              <button class="btnn" mat-button>Connect</button>
            </div>
          </div>
        </div>
        <div class="card mb">
          <div class="row p">
            <div class="col-lg-8 col-sm-1">
              <i class="fab fa-instagram"></i>
              Instagram
            </div>
            <div class="col-lg-2 col-sm-2">
              <button class="btnn" mat-button>Connect</button>
            </div>
          </div>
        </div>
        <div class="card mb">
          <div class="row p">
            <div class="col-lg-8 col-sm-1">
              <i class="fab fa-twitter-square"></i>
              Twitter
            </div>
            <div class="col-lg-2 col-sm-2">
              <button class="btnn" mat-button>Connect</button>
            </div>
          </div>
        </div>
        <div class="card mb">
          <div class="row p">
            <div class="col-lg-8 col-sm-1">
              <i class="fab fa-youtube"></i>
              Youtube
            </div>
            <div class="col-lg-2 col-sm-2">
              <button class="btnn" mat-button>Connect</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Disable account -->
    <div class="row">
      <div class="col-lg-8 col-sm-10">
        <span><b>Disable account</b></span>
      </div>
      <div class="col-lg-4 col-sm-2 text-left">
        <div class="row ">
          <div class="col-lg-12 col-sm-12 text-right">
            <button class="buttons" mat-button>Disable account</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-1">
        <p>Careful! This will permanently disable your account. You won’t be able to log in again after you do this.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-10 col-sm-10"></div>
      <div class="col-lg-2 col-sm-2">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <button (click) = 'UserProfileUpdate()' class="buttons" mat-button>Save Changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  card body -->
</div>
<!--  card -->
