.container
{
    padding: 24px
}

.newtier_btn
{
    text-align: center

}

.extended-fab-button {
    width: max-content;
    padding: 0 17px;
    border-radius: 29px;
    background: #004c81;
    color: white;
     height: 38px;
    line-height: 0px !important;
    margin: 0px 0 0 0;
    transition: none !important;
    box-shadow: none !important;

    .mat-icon {
      margin-right: 10px;
    }
  
    .extended-fab-button__text {
      font-weight: 450;
      letter-spacing: 0.01em;
      text-transform: none;
      line-height: 0px !important;
      margin: 0px 0px 0 0;
    }
  }


  .light_extended-fab-button {
    width: max-content;
    padding: 0 17px;
    border-radius: 29px;
    background: #E1F0FA;
    color: #004C81;
     height: 38px;
    line-height: 0px !important;
    margin: 0px 0 0 0;
    transition: none !important;
    box-shadow: none !important;

    .mat-icon {
      margin-right: 10px;
    }
  
    .extended-fab-button__text {
      font-weight: 450;
      letter-spacing: 0.01em;
      text-transform: none;
      line-height: 0px !important;
      margin: 0px 0px 0 0;
    }
  }

  .big_extended-fab-button {
    width: max-content;
    padding: 0 28px;
    border-radius: 29px;
    background: rgb(114, 137, 218);;
    color: #FFFF;
     height: 52px;
    line-height: 0px !important;
    margin: 0px 0 0 0;
    transition: none !important;
    box-shadow: none !important;

    .mat-icon {
      margin-right: 10px;
    }
  
    .extended-fab-button__text {
      // font-weight: 450;
      // letter-spacing: 0.01em;
      // text-transform: none;
      // line-height: 0px !important;
      // margin: 0px 0px 0 0;
      letter-spacing: 0.01em;
      font-size: initial;
      font-weight: 500;
      -webkit-box-align: center;
      align-items: center;
      box-sizing: border-box;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      padding-top: 0rem;
      padding-right: 0rem;
      padding-bottom: 0rem;
      padding-left: 0rem;
      margin-top: -.1rem;
      margin-right: 0rem;
      margin-bottom: 0rem;
      margin-left: 0rem;
      visibility: visible;
      transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    }
  }


  .gray_extended-fab-button {
    width: max-content;
    padding: 0 17px;
    border-radius: 29px;
    background: rgb(245, 244, 242);
    color: rgb(177, 172, 163) !important;;
     height: 38px;
    line-height: 0px !important;
    margin: 0px 0 0 0;
    transition: none !important;
    box-shadow: none !important;

    .mat-icon {
      margin-right: 10px;
    }
  
    .extended-fab-button__text {
      font-weight: 450;
      letter-spacing: 0.01em;
      text-transform: none;
      line-height: 0px !important;
      margin: 0px 0px 0 0;
    }
  }



  ///@at-root
  .h2_leftbar
     {
        color: rgb(36, 30, 18);
        font-family: aktiv-grotesk, sans-serif;
        position: relative;
        text-align: left;
        font-weight: 700 !important;
        font-size: 1rem !important;
        line-height: 1.5 !important;
        transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
        padding: 0px 0 0 15px;
        text-transform: none;
        margin: 20px 0 -2px 0;
     }

     .pad
     {
        padding-left: 15px;
        color: rgb(112, 108, 100);
        font-family: aktiv-grotesk, sans-serif;
        position: relative;
        font-weight: 400 !important;
        font-size: 0.875rem !important;
     }

     .row70 {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
      }

     .col40
    {
        -ms-flex: 30%; /* IE10 */
        flex: 30%;
    }

    .col60
    {
        -ms-flex: 70%; /* IE10 */
        flex: 70%;
    }

    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
    @media (max-width: 600px) {
        .row70 {
        flex-direction: column;
        }

          .col40
          {
              -ms-flex: 100%; /* IE10 */
              flex: 100%;
          }
          .col60
          {
              -ms-flex: 100%; /* IE10 */
              flex: 100%;
          }
          .border
          {
            border: 0px solid lightgray !important;
            padding: 0 0 0 2px;
            margin: 0px 0 0px 0px;
          }
          .h2_leftbar
          {
              padding: 0px 0 0 0px;
          }
          .pad
          {
              padding-left: 0px;
          }
    }


    .input_mat
    {
       width: 100%;
      //  margin-top: 12px;
       padding-right: 16px;
    }
  

    .chkbtn
    {
      color: rgb(36, 30, 18);
       text-align: left;
       height: 3rem;
      font-size: 1rem !important;
      background: rgb(245, 244, 242);
      border-width: 1px;
      border-style: solid;
      border-color: rgb(229, 227, 221);
      outline: none;
      // padding: 0.75rem 1rem;
      transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
      border-radius: 4px;
      padding: 0 0 0 18px;
    }

    .chkbtn:focus
    {
      background:white;
      border-color:blue;

    }

    .input_no_radius
    {
      color: rgb(36, 30, 18);
       text-align: left;
       height: 3rem;
      font-size: 1rem !important;
      background: rgb(245, 244, 242);
      border-width: 1px;
      border-style: solid;
      border-color: rgb(229, 227, 221);
      outline: none;
      // padding: 0.75rem 1rem;
      transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
      border-radius: 0px;
      padding: 0 0 0 18px;
    }

    .input_no_radius:focus
    {
      background:white;
      border-color:blue;

    }
  

    .custom_padding0
    {
      padding: 0 !important;
      margin: 0px 0 0px 0px;
    }

    .paddingtop
    {
      padding: 31px 0px 0 0;
    }

    @media (max-width: 760px) {
     
      .paddingtop
    {
      padding: 0px 0px 0 0 !important;
    }


    }

    .characters
    {
      color: rgb(112, 108, 100);
      font-family: aktiv-grotesk, sans-serif;
      position: relative;
      font-weight: 400 !important;
      font-size: 0.875rem !important;
      line-height: 1.5 !important;
      margin: 0px;
      transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    }


    .custom_margin
    {
      margin: 20px 0 0 0px;
    }

    .p_text
    {
      color: rgb(112, 108, 100);
      font-family: aktiv-grotesk, sans-serif;
      position: relative;
      font-weight: 400 !important;
      font-size: 1rem !important;
      line-height: 1.5 !important;
      margin: 0px;
      transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    }

    .small_text
    {
      color: rgb(112, 108, 100);
      font-family: aktiv-grotesk, sans-serif;
      position: relative;
      line-height: 3;
      font-weight: 400 !important;
      font-size: 0.625rem !important;
      margin: 0px;
      transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    }


    // //
    //Checkbox
.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 20px 0 0 0px;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 4px;
  border: 0.5px solid gray;
  
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: #004c81;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 9px;
  height: 15px;
  border: solid white;
  border-width: 0px 4px 4px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.p_checkbox
{
    color: #241e12;
    font-family: aktiv-grotesk, sans-serif;
    position: relative;
    font-weight: 400 !important;
    font-size: 1rem !important;
    line-height: 1.6 !important;
    margin: 0px 0px 0 10px;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

@media (max-width: 600px) {
  .checkbox
{
  margin: 0px 0 0 0px;
}
}


.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: -webkit-fill-available !important;
}

.border_image
{
  border: 0.5px solid lightgray !important;
  border-radius: 5px;
  width: fit-content;
  padding: 20px 10px 20px 10px;

}