<div class="border">

    <div class="upper">
      <span class="last_edited">Posted at </span>
      <span class="date_time">May 21st 2019 at 11:04 pm</span>
  
      <div class="col-lg-4 col sm-12 custom_padding0">
        <div style="display: flex;margin-top: 16px;" >
          <img src="../../../assets/images/posts/its_easy_if_you_try-5332.jpg" alt="Paris" style="width:50px;height: 50px;">
          <div class="custom_margin">
            <p class="p_title">Pool cover up</p>
            <!-- <p class="p_message">this is a test post</p> -->
          </div>
        </div>
      </div>
      
    </div>
  
  
    <h2 class="bottom">
      <a href="" class="a_class">Delete</a>
      <a href="" class="a_class">Edit</a>
      <a href="" class="a_class">View</a>
    </h2>
  
  </div>