<div class="row">
  <div class="col-sm-1">
    <div class="row">
        <mat-icon>cancel</mat-icon>
    </div>

  </div>
  <div class="col-sm-7">

    <div class="card-header bg-white ">
        <div class="row">
            <div class="col-1">   <img
              class="imagestyle"
              src="../../../../assets/images/icons/text.svg"
              alt="Text"
            /></div>
            <div class="col-1">   
                <h6 class="text-uppercase text">Text</h6></div>
                <div class="col-9"></div>
                <div class="col-1 cancel"> <mat-icon>cancel</mat-icon></div>
          </div>
  
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12"> <input type="text" placeholder="Post Title (required)"></div>
      </div>
      <div class="row">
          <div class="col-12 tarea" > 
            
            <textarea     rows="6"  class="textarea" placeholder="Tell a story "></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-1">
              <mat-icon>attach_file</mat-icon>
          </div>
          <div class="col-1">
              <!-- <mat-icon>attach_file</mat-icon> -->
              <p><b>ATTACHMENTS</b></p>
          </div>
          <div class="col-8"></div>
          <div class="col-1"><button class="btn info" type="file" ><u>UPLOAD</u></button></div>
          <div class="col-1"></div>
        </div>
     
    </div>
    <div class="card-footer bg-white">
<div class="row">
  <div class="col-1">
    <mat-icon>label</mat-icon>
  </div>
  <div class="col-1">
    <p><b>TAGS</b></p>
  </div>
</div>
<div class="row">
    <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let fruit of tags" [selectable]="selectable"
                   [removable]="removable" (removed)="remove(fruit)">
            {{fruit.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Add Tags..."
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
</div>

    </div>
  </div>
  <div class="col-sm-4">
    <div class="row">
      <div class="col-9 side">
          <button type="button" *ngIf="published" class="btn button">Publish now</button>
          <button type="button" *ngIf="scheduled" class="btn button">Schedule</button>
          <button type="button"  *ngIf="saveasdrafted" class="btn button">Save as draft</button>
      </div>
      <div class="col-3 side">

          <button mat-button [matMenuTriggerFor]="menu"  class="matbutton"><mat-icon>keyboard_arrow_down</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="publish()">Publish now </button>
            <button mat-menu-item (click)="schedule()">Schedule</button>
            <button mat-menu-item (click)="saveasdraft()">Save as draft</button>
          </mat-menu>


      </div>
    </div>
    </div>
</div>