<<<<<<< HEAD
.custom-icon-btn{
    font-size: 20px !important;
    padding: 5px;
  }
  
=======
.custom-icon-btn {
  font-size: 20px !important;
  margin: 15px;
}

.nav-link {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
>>>>>>> 1dbb997e0ed2f3e153d193b3c79f89feb4aa002c
