<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand px-2" routerLink="/artist-portal/home" routerLinkActive="active" >{{title}}</a>
  
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" routerLink="/user-portal/message/profile/all" routerLinkActive="active"><i class="custom-icon-btn fas fa-search"></i></a>
          </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user-portal/message/profile/all" routerLinkActive="active"><i class="custom-icon-btn far fa-comments"></i></a>
      </li>
      <li class="nav-item">
          <app-profile-icon></app-profile-icon>
        </li>
    </ul>
</nav>
