 <nav mat-tab-nav-bar class="navExpand">
      <a mat-tab-link
         *ngFor="let link of navLinks"
         [routerLink]="['/'+link.path]"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>



    <mat-expansion-panel class="matExpand">
      <mat-expansion-panel-header >
        This is the expansion title
      </mat-expansion-panel-header>

      <mat-action-row class="forhover" (click)="about()">
        <span>  About</span>
      </mat-action-row>

      <mat-action-row  class="forhover" (click)="tiers()">
          <span>  Tiers</span>
      </mat-action-row>

      <mat-action-row class="forhover" (click)="goals()">
            <span>  Goals</span>
      </mat-action-row>

      <mat-action-row class="forhover" (click)="payments()">
          <span>  Payments</span>
      </mat-action-row>

      <mat-action-row class="forhover" (click)="posts()">
          <span>  Posts</span>
      </mat-action-row>

      <mat-action-row class="forhover" (click)="offers()">
          <span>  Offers</span>
     </mat-action-row>


    </mat-expansion-panel>




  <router-outlet></router-outlet>
