.mat-action-row {
    border-top-style: solid;
    border-top-width: 1px;
    display: flex;
    flex-direction: row;
     justify-content: flex-start !important;
    padding: 16px 8px 16px 24px;
}

.forhover:hover
{
    border-top-style: solid;
    border-top-width: 1px;
    display: flex;
    flex-direction: row;
     justify-content: flex-start !important;
    padding: 16px 8px 16px 24px;
    background: #2fa3ded9;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (min-width: 600px) {
    .matExpand {
      display: none
    }

  }

  @media (max-width: 600px) {
    .navExpand {
      display: none
    }

  }
