

<!-- Footer -->
<footer class="page-footer font-small">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 mx-auto">
  
          <img class="logo" src="../../../assets/images/logo-trans.png">
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Product</h5>
  
          <ul class="list-unstyled">
              <li><a href="#">Lite</a></li>
              <li><a href="#">Pro</a></li>
              <li><a href="#">Premimium</a></li>
              <li><a href="#">Pricing</a></li>            
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">FOR CREATORS</h5>
  
          <ul class="list-unstyled">
              <li><a href="#">Podcasters</a></li>
              <li><a href="#">Video Creators</a></li>
              <li><a href="#">Musicians</a></li>
              <li><a href="#">Visual Artists</a></li>
              <li><a href="#">Writers & Journalists</a></li>
              <li><a href="#">Communities</a></li>
              <li><a href="#">Creators-of-all-kinds</a></li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">RESOURCES</h5>
  
          <ul class="list-unstyled">
              <li><a href="#">Blog</a></li>
              <li><a href="#">Patreon U</a></li>
              <li><a href="#">Help Center & FAQ</a></li>
              <li><a href="#">App Directory</a></li>
          </ul>
  
        </div>
        <!-- Grid column -->
        
        <hr class="clearfix w-100 d-md-none">

        <div class="col-md-2 mx-auto">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">COMPANY</h5>
    
            <ul class="list-unstyled">
                <li><a href="#">About</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Policy & Terms</a></li>          
            </ul>
    
          </div>
  
      </div>
      <!-- Grid row -->
      
    </div>
    <!-- Footer Links -->
  	<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
        </div>
        </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© All right Reversed by Awria 2019</div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
