<footer>
  <div class="container-fluid tl">
    <div class="row">
      <div class="col-4">
        <img class="logo" src="../../../assets/images/logo-trans.png">
      </div>
      <div class="col-2">
        <ul class="footer-links">
          <li>
            <h3>Product</h3>
          </li>
          <li class="">
            <a href="#">Lite</a></li>
          <li class="">
            <a href="#">Pro</a></li>
          <li class="">
            <a href="#">Premimium</a></li>
          <li class="">
            <a href="#">Pricing</a></li>
        </ul>
      </div>
      <div class="col-2">
        <ul class="footer-links">
          <li>
            <h3>FOR CREATORS</h3>
          </li>
          <li class=""><a href="#">Podcasters</a></li>
          <li class=""><a href="#">Video Creators</a></li>
          <li class="tet2"><a href="#">Musicians</a></li>
          <li class=""><a href="#">Visual Artists</a></li>
          <li class=""><a href="#">Writers & Journalists</a></li>
          <li class=""><a href="#">Communities</a></li>
          <li class=""><a href="#">Creators-of-all-kinds</a></li>
        </ul>
      </div>
      <div class="col-2">
        <ul class="footer-links">
          <li>
            <h3>RESOURCES</h3>
          </li>
          <li class=""><a href="#">Blog</a></li>
          <li class=""><a href="#">Patreon U</a></li>
          <li class=""><a href="#">Help Center & FAQ</a></li>
          <li class=""><a href="#">App Directory</a></li>
        </ul>
      </div>
      <div class="col-2">
        <ul class="footer-links">
          <li>
            <h3>COMPANY</h3>
          </li>
          <li class=""><a href="#">About</a></li>
          <li class=""><a href="#">Press</a></li>
          <li class=""><a href="#">Careers</a></li>
          <li class=""><a href="#">Policy & Terms</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
        <div class="col-1 "></div>
          <p>
            <small>&copy; 2019 Awria. <label>.Privacy</label><label>.Terms</label></small>    
            <i class="fa fa-facebook"></i>
            <i class="icon-large icon-search"></i>
          </p>          
      </div>
  </div>
</footer>
<!-- <footer id="fh5co-footer" class="fh5co-bg row-fluid" role="contentinfo">
    <div class="container-fluid">
      <div class="row row-pb-md">
        <div class="col-10 ">
          <img class="logo" src="../../../assets/images/logo.png">
        </div>
        <div class=" col-10 about  listt">
          <ul class="fh5co-footer-links">
            <li>
              <h3>Product</h3>
            </li>
            <li class="text2">
              <a href="#">Lite</a>
            </li>
            <br>
            <li class="text2">
              <a href="#">Pro</a>
            </li>
            <li class="text2">
                <a href="#">Premimium</a>
              </li>
              <li class="text2">
                  <a href="#">Pricing</a>
                </li>
          </ul>
        </div>
        <div class="col-10 ">
          <ul class="fh5co-footer-links">
            <li>
              <h3>FOR CREATORS</h3>
            </li>
            <li class="text2"><a href="#">Podcasters</a></li>
            <br>
            <li class="text2"><a href="#">Video Creators</a></li>
            <br>
            <li class="text2"><a href="#">Musicians</a></li>
            <br>
            <li class="text2"><a href="#">Visual Artists</a></li>
            <br>
            <li class="text2"><a href="#">Writers & Journalists</a></li>
            <br>
            <li class="text2"><a href="#">Communities</a></li>
            <br>
            <li class="text2"><a href="#">Creators-of-all-kinds</a></li>
  
          </ul>
        </div>
  
        <div class="col-25 " style="padding-block-start: 0%">
          <ul class="fh5co-footer-links">
            <li>
              <h3>RESOURCES</h3>
            </li>
  
            <li class="text2"><a href="#">Blog</a></li>
            <br>
            <li class="text2"><a href="#">Patreon U</a></li>
            <br>
            <li class="text2"><a href="#">Help Center & FAQ</a></li>
            <br>
            <li class="text2"><a href="#">App Directory</a></li>
          </ul>
        </div>
  
        <div class="col-25 " style="padding-block-start: 0%">
            <ul class="fh5co-footer-links">
              <li>
                <h3>COMPANY</h3>
              </li>
    
              <li class="text2"><a href="#">About</a></li>
              <br>
              <li class="text2"><a href="#">Press</a></li>
              <br>
              <li class="text2"><a href="#">Careers</a></li>
              <br>
              <li class="text2"><a href="#">Policy & Terms</a></li>
            </ul>
          </div>
      </div>
    </div>
  
    <div class="row row-pb-md">
      <div class="col-1 "></div>
      <div style="margin-top: 40px; margin-left: 70px" class="col-25 ">
        <p>
          <small>&copy; 2019 Awria. <label>.Privacy</label><label>.Terms</label>
          </small>
  
          <img style="width:30 px; height: 30px;" src="../../../assets/images/fb.png">
  
          <img style="width:30 px; height: 30px;" src="../../../assets/images/instagramIcon.png">
        </p>
      </div>
    </div>
  </footer>
 
  
  <footer id="fh5co-footer" class="fh5co-bg row-fluid1 " role="contentinfo">
  
    <div class="container-fluid">
      <div class="row row-pb-md">
  
  
        <div class="col-md-2">
          <button data-toggle="collapse" data-target="#demo3" type="button" class="buttonc">ABOUT</button>
          <img data-toggle="collapse" data-target="#demo3" style="width:15 px; height: 15px;"
            src="../../../assets/images/plus.svg">
          <div id="demo3" class="collapse col-lg-2 listt">
            <ul class="fh5co-footer-links">
  
  
              <li class="text2"><a href="#">How We Operate</a></li>
              <br>
              <li class="text2"><a href="#">Stockists</a></li>
  
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <button type="button" class="buttonc" data-toggle="collapse" data-target="#demo2">MEALS</button>
          <img data-toggle="collapse" data-target="#demo2" style="width:15 px; height: 15px;"
            src="../../../assets/images/plus.svg">
          <div id="demo2" class="col-md-3 collapse ">
            <ul class="fh5co-footer-links">
  
  
              <li class="text2"><a href="#">Signature Meals</a></li>
              <br>
              <li class="text2"><a href="#">Custom Meal Builder</a></li>
              <br>
              <li class="text2"><a href="#">Healthy Snacks & Treats</a></li>
  
            </ul>
          </div>
        </div>
  
        <div class="col-md-2 ">
          <button type="button" class="buttonc" data-toggle="collapse" data-target="#demo1">CUSTOMER SERVICE</button>
          <img data-toggle="collapse" data-target="#demo1" style="width:15 px; height: 15px;"
            src="../../../assets/images/plus.svg">
          <div id="demo1" class="col-md-3 collapse ">
  
            <ul class="fh5co-footer-links">
  
  
              <li class="text2"><a href="#">Contact Us</a></li>
              <br>
              <li class="text2"><a href="#">My Account</a></li>
              <br>
              <li class="text2"><a href="#">Sponsorship</a></li>
              <br>
              <li class="text2"><a href="#">Become a Wholesaler</a></li>
            </ul>
          </div>
        </div>
  
        <br>
        <div style="margin-left: 11px" class="col-md-4 text22 buttont">
  
  
          <h3>News &amp; Deals</h3>
          <input class="form-control text11" placeholder="Enter your email" type="text">
  
          <button style="float: left;" class="button11">Sign up</button>
  
        </div>
  
      </div>
    </div>
  
    <div class="row copyright">
      <div style="margin-top: 40px " class="col-md-2 col-lg-1 text-center">
  
        <img style="width:100px; height:100px" src="../../../assets/images/logo.png">
      </div>
  
      <div style="margin-top: 10px" class="col-md-4  text-center">
        <p>
          <small>&copy; 2019 Awria. <label>.Privacy</label><label>.Terms</label>
          </small>
  
          <img style="width:30 px; height: 30px;" src="../../../assets/images/fb.png">
  
          <img style="width:30 px; height: 30px;" src="../../../assets/images/instagramIcon.png">
        </p>
      </div>
    </div>
  </footer>-->