.page-footer{
    background-color: #552b5d;
    // font-family: aktiv-grotesk, sans-serif;
    overflow-x: hidden;
  }
  .container{
      padding-top: 20px;
  }
  h5,a ,.list-unstyled, .footer-copyright {
    color: white;
  }
  a:hover{
      color: #e85b46;
  }
  .logo{
      width:200px;
      height: auto;
      padding: 20px 0 0;
  }
