.btn{
    background:  rgb(46, 100, 139) !important;;
    border-radius: 50px;
    color: white
}
img{
    width: 100%;
    height: auto;
}
.bg-img{
    width: 100%;
    background-image: url("../../../../assets/images/empty-stream-illustration.png");
    background-size: contain;
    min-height: 0px;
    padding-bottom: 50%;
    background-repeat: no-repeat;
    background-position: center center;
}
.card-header{
    background-color: none;
}
.text-center{
    text-align: center;
}
