@mixin sidebar-theme-custom($theme) {
    $primary: map-get($theme, "primary");
    $accent: map-get($theme, "accent");
    .mat-icon {
        color: mat-color($accent);
    }
    .active {
        border-right: 3px solid mat-color($primary);
        .mat-icon {
            color: mat-color($primary);
        }
    }
    .avatar{
        text-align: center; width:100% ;margin-top: 18px;
        border-radius: 25px !important;
    }
    .avatarimage{
        border-radius: 100px !important;
    }
}
