@mixin sidebar-theme-custom($theme) {
    $primary: map-get($theme, "primary");
    $accent: map-get($theme, "accent");
    .mat-icon {
        color: mat-color($accent);
    }
    .active {
        border-right: 3px solid mat-color($primary);
        .mat-icon {
            color: mat-color($primary);
        }
    }
    .avatar{
        margin-left: 33%;
        margin-right: 50%;
        text-align: center; width:100% ;margin-top: 18px;
    }
    .avatarimage{
        border-radius: 100px !important;
    }
    .center{
        text-align: center !important;
    }.profilebuttons{
        padding:  0px !important;
        background-color: #E5E3DD !important;
        border-radius: 50% !important;
        font-size: 18px !important;
        align-items: center !important
    }.name{
        margin: 10PX 0 0 0;
        font-weight:bold !important
    }
   
    .iconheight{
        left: 0px;
        width: calc(((45.3333% - 0.666667px) * 1) + 0px);
        top: 0px;
        height: 60px !important
    }
}
