<div class="side-menu">
  <a [routerLink]="'/artists'" routerLinkActive="active" class="menu">
    <mat-icon color="notes">album</mat-icon>
    <span class="">Posts</span>
  </a>
  <a [routerLink]="'/queue'" routerLinkActive="active" class="menu">
    <mat-icon color="accent">queue_music</mat-icon><span class="invisible">Queue</span>
  </a>
  <a [routerLink]="'/playlists/explore'" routerLinkActive="active" class="menu">
    <mat-icon color="accent">search</mat-icon><span class="invisible">Explore</span>
  </a>
  <a [routerLink]="'/playlists/me'" routerLinkActive="active" class="menu">
    <mat-icon color="accent">headset</mat-icon><span class="invisible">My playlists</span>
  </a>
  <a [routerLink]="'/ui'" routerLinkActive="active" class="menu">
    <mat-icon color="accent">view_quilt</mat-icon><span class="invisible">UI Elements</span>
  </a>
  <a routerLinkActive="active" class="menu">
    <mat-icon color="accent">settings</mat-icon>
  </a>
  <a routerLinkActive="active" class="menu">
    <mat-icon color="accent">done_all</mat-icon>
  </a>
</div>
