<div class="side-menu">
    <div class="avatar" >
        <ngx-avatar  src="../../../assets/images/posts/icon-camera.png" name="Jane Doe" value="28%" bgColor="#000000" fgColor="#58D3F7" size="60" textSizeRatio="2.5" [round]="true" class="center"></ngx-avatar>

      </div>
      <p class="name" >Samantha Jones</p>
      <small>Creator Account</small>
      <mat-grid-list cols="3" rowHeight="100px">
          <mat-grid-tile class="iconheight" mat-fill
              *ngFor="let tile of tiles"
              [colspan]="tile.cols"
              [rowspan]="tile.rows"
           
              >
            <!-- {{tile.text}} -->
            <button mat-button ><mat-icon class="profilebuttons">{{tile.text}}</mat-icon></button>
          </mat-grid-tile>
        </mat-grid-list>
      <!-- <button mat-button><mat-icon>home</mat-icon></button>
      <button mat-button><mat-icon>home</mat-icon></button>
      <button mat-button><mat-icon>home</mat-icon></button> -->
              
  <a [routerLink]="'/posts'" routerLinkActive="active">
    <mat-icon color="accent">list_alt</mat-icon><span routerLink="/posts" class="">Posts</span>
  </a>
  
  <a [routerLink]="'/queue'" routerLinkActive="active" class="menu">
    <mat-icon color="accent">queue_music</mat-icon><span class="invisible">Queue</span>
  </a>
  <a [routerLink]="'/playlists/explore'" routerLinkActive="active" class="menu">
    <mat-icon color="accent">search</mat-icon><span class="invisible">Explore</span>
  </a>
  <a [routerLink]="'/playlists/me'" routerLinkActive="active" class="menu">
    <mat-icon color="accent">headset</mat-icon><span class="invisible">My playlists</span>
  </a>
  <a [routerLink]="'/ui'" routerLinkActive="active" class="menu">
    <mat-icon color="accent">view_quilt</mat-icon><span class="invisible">UI Elements</span>
  </a>
  <a routerLinkActive="active" class="menu">
    <mat-icon color="accent">settings</mat-icon>
  </a>
  <a routerLinkActive="active" class="menu">
    <mat-icon color="accent">done_all</mat-icon>
  </a>
</div>
 