.side-menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: {
    top: 2rem;
    bottom: 2rem;
  }
}

.custom-sidemenu-item {
  -webkit-box-align: center;
  align-items: center;
  cursor: default;
  display: flex;
  width: 75%;
  background: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 0.75rem 1rem;
  text-decoration: none !important;
  color: initial;
}

.custom-sidemenu-item:link .custom-sidemenu-item:visited, .custom-sidemenu-item:hover, .custom-sidemenu-item:active {
  text-decoration: none;
  color: initial !important;
}

.custom-mat-trios {
  padding: 4px !important;
  background-color: #E5E3DD !important;
  border-radius: 50% !important;
  align-content: center;
}

.custom-avatar {
  align-content: center !important;
  margin: auto;
}

mat-icon.custom-mat-trios{
  height: 32px !important;
  width: 32px !important;
}

/* Remove default bullets */

ul.reciept-list {
    list-style-type: none;
    //font-size: 14px;
}

ul.reciept-list li ul {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */

.reciept-list {
    margin: 0;
    padding: 1px !important;
}

/* Style the caret/arrow */

.caret-reciept {
    cursor: pointer;
    user-select: none;
    /* Prevent text selection */
    padding-right: 5px;
}

/* Create the caret/arrow with a unicode, and style it

.caret-reciept::before {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
}*/

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */

// .caret-reciept-down {
//     transform: rotate(90deg);
// }

/* Hide the nested list */

.nested-reciept-list {
    padding-left: 20px !important;
    margin: 5px;
    display: none;
    border-left: 2px solid #d9d8df;
    //font-size: 13px;
    text-align: start !important;
}

.nested-reciept-list li
{
  padding: 1px !important;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */

.active-reciept-list {
    display: block;
}

.custom-navlink{
text-decoration: none;
  color: initial !important;
}
