.side-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: {
        top: 2rem;
        bottom: 2rem;
    }
    mat-icon {
        padding: 15px 25px;
    }
}
.menu{
    -webkit-box-align: center;
    align-items: center;
    cursor: default;
    display: flex;
    width: 75%;
    background: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0.75rem 1rem;
}